body{
  background-image: url(img.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login{
  position: absolute;
  left: 30%;
  top: 30%;
}

.h1{
  color: orange;
}

.h3{
  color: orange;
}

.result{
  color: rgb(255, 166, 0);
}

.h5{
  color: blanchedalmond;
  font-size: small;
}

.watermark{
  opacity: 0.6;
  color: rgb(150, 243, 0);
  position: absolute;
  bottom: 0;
  right: 0;
}
