body{
  background-image: url(b.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login{
  position: absolute;
  left: 30%;
  top: 30%;
}

.h1{
  color: bisque;
}

.result{
  color: bisque;
}

.h5{
  color: blanchedalmond;
  font-size: small;
}

.watermark{
  opacity: 0.6;
  color: wheat;
  position: absolute;
  bottom: 0;
  right: 0;
}
